<div class="edit-form col-sm-6">
    <h2>Create Employee</h2>
    <form #create="ngForm" (ngSubmit)="addemployee(create)">
      <div class="form-group">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" appHover [(ngModel)]="employee.userId" required #userid1="ngModel"
         name="userId" class="form-control">
         <div *ngIf="userid1.touched && userid1.errors?.['required']"> Required field </div>
      </div>

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="employee.title" name="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        <textarea id="body" [(ngModel)]="employee.body" name="body" class="form-control" rows="5"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="create.invalid">Save</button>
    </form>
  </div>
