
    <h2>KPIs</h2>
    <div class="row ">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Rooms</h5>
            <p class="card-text">{{room.totalRooms}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Available Rooms</h5>
            <p class="card-text">{{room.availableRooms}}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Booked Rooms</h5>
            <p class="card-text">{{room.bookedRooms}}</p>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="room.bookedRooms+room.availableRooms!=room.totalRooms">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">under maintance</h5>
            <p class="card-text">15%</p>
          </div>
        </div>
      </div>
    </div>
    
    <h2 class="mt-5">Rooms Detail</h2>
   <app-roomlist [rooms]="_RoomList" (selectedRoom)="roomSelected($event)"></app-roomlist>

  
